GitHub
report.htm
sql.sql
tada.txt
tadaTmp.txt
BadmCore/Debug
BadmCore/Release
QtGUI/Debug
QtGUI/Release
QtGUI/ipch
QtGUI/mainwindow_moc.cpp
QtGUI/QtGUI.opensdf
QtGUI/QtGUI.vcxproj.user
OldData.txt.*
pass
*.suo
*.vcxproj.filters
tada*
unix2dos.exe
